// Custom styles.
@media screen and (min-width:900px) {

    body {
		background-image:url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg4.orsoon.com%2Fico%2F201909%2F12093932_f37b4895a3.png&refer=http%3A%2F%2Fimg4.orsoon.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1640920348&t=ec6c354470bc950a4f49b0873522bbe7);
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position: 0 0;
		background-size: 100% 100%;
    }	
    //改变背景色和透明度
    .main-inner {
      background: #fff;
      opacity: 0.9;
    }
    code {
      color: #ff7600;
      background: #fbf7f8;
      margin: 2px;
    }
    // 大代码块的自定义样式
    .highlight, pre {
      margin: 5px 0;
      padding: 5px;
      border-radius: 3px;
    }
    .highlight, code, pre {
      border: 1px solid #d6d6d6;
    }
}

.site-title {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Damion',"PingFang SC","Microsoft YaHei",sans-serif;
}
#footer {
  color: white !important;
}
.headband {
  background: none !important;
}
// 自定义页脚跳动的心样式
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
.with-love {
    color: #A8538C;
    animation: heartAnimate 1.33s ease-in-out infinite;
}